.singleMoviehead {
    width: 46%;
     height: 380px;
     float: left;
     margin-left: 4.001199999999999999999%;
}

.play {
    width: 90%;
    height:350px;
    margin: auto;
    margin-bottom: 60px;
    padding: 10px
}

.moviedetail {
    width: 46%;
    height: 360px;
    float: left;
    padding: 30px 20px
}

.fullPlot {
    margin-top: 25px;
    margin-left: 5%;
    width: 90%;
}

.fullPlot > span {
    margin-top: 20px
}

.moviedetail > h1 {
    margin-top: 30px;
    font-weight: bolder;
}

.small {
    font-size: 0.5em;
    font-weight: bold;
}

.ratingSomething {
    height: 50px;
    border: 1px solid;
    line-height: 3em;
    padding-left: 20px;
    margin-top: 65px;
}


.information {
    width: 90%;
    margin: 30px 5%;
    height: 190px
}

.information > div{
    width: 24%;
    float: left;
}

hr {
    width:90%;
}

.cast, .awards, .photos {
    margin: 30px 5%;

}

.singlemovieBody{
    border: 1px solid DARKGRAY;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
    display: flex;
    line-height: 3em;
}

.singlemovieBody > span {
    font-size: bold;
}

@media screen and (max-width: 350px){
    .play{
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .moviedetail{
        width: 100%;
        padding: 10px 10px 10px 10px;
    }

    .singleMoviehead {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .information  > div {
        width: 95%;
        margin-bottom: 10px;
    }

    .singlemovieBody{
        display: table-caption;
        border: none;
        margin-left: 24px
    }

    .ratingSomething{
        visibility: hidden;
    }
}