.homeTrendingMovies1 {
    height: 100%;
    width: 37%;
    float: left;
    border: 1px solid darkgray;
}



.homeTrendingMovies2 {
    height: 350px;
    width: 20%;
    float: left;
    border: 1px solid darkgray;
    margin-left: 1%
}

.homebody {
    padding:30px;
    height: auto
}

.sliderContainer{
    height: 605px;
    width: 100%;
    background-color: darkgrey;
}

.bigscreen {
    left: 40%; 
    margin-left: 41%;
    position: static;
    width: 52%;
    border-radius: 8px;
    margin-top: -240px;
}

hr {
    width: 95%
}

img {
    height: 100%;
    width: 100%
}

/* .searchie {
    position: absolute;
    height: 60px;
    width: 68%;
    margin-left: 5%;
    margin-top: -45%;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.5);
    border-radius: 4px;
} */

.seemore {
    margin: 10px 0 0 2.5%;
}

.trending {
    display: inline-flex;
    height: 230px;
    margin-left: 2.5%;
    width: 95%;
    margin-top: 2%
}

.shortnotif {
    width: 95%;
    margin: 5px 2.5%;
    background-color: darkgray;
    padding: 30px;
    height: 80px;
    border-radius: 8px;
}

.brandNew {
    width: 32.68%;
    border: 1px solid darkgray;
}

.rmpad {
    margin-left: 1%
}

.celebfocus {
    width: 50%;
    border-right: 1px solid darkgray;
    display: inline-flex;
}

.celebfocus > div {
    border: 1px solid darkgray;
}

.twindiv {
    height: 47.7%;
    width: 47.7%;
    margin: 0 0 2% 2%;
}

.celebday {
    width: 50%;
    display: contents;
}

.headerfont {
    font-weight: bolder;
    font-size: 1.4em;
    margin-left: 30px
}

.trendbirthday {
    width:50%
}

.item1 {
    width: 39%
}

.trend > div {
    height: 340px;
    /* height: 300px; */
    width: 19%;
    margin-top: 20px;
    background-color: white;
    border: 1px solid darkgrey;
    box-shadow: 8px 3px 27px -7px rgba(0,0,0,0.8);
 }
 
 .trend > div:first-child {
    width: 39%
 }

 .trend > div:first-child:hover {
    width: 40%;
 }

 .trend > div:hover {
    height: 350px;
    width: 20%;
    margin-top: 10px;
    /* background-color: white; */
    border: 1px solid #ffb01e;
    box-shadow: 8px 3px 27px -7px rgba(0,0,0,0.8);
 }
 
 .trend {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
 }
 
 .celeb {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: auto;
    width: 100%;
    flex-wrap: wrap
    /* d */
 }
 
 .celeb > div {
    width: 19%;
    height: 300px;
    border: 1px solid darkgrey;
    margin-top: 20px;
    justify-content: space-around;
    box-shadow: 8px 3px 27px -7px rgba(0,0,0,0.8);
 }
 
 .birthday {
    display: flex;
    justify-content: space-around;
 }
 
 .birthday > div {
    width: 46%;
    height: 200px;
    border: 1px solid darkgrey;
 }
 
 .moredeet {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    margin-top: -18.6pc;
 }
 

.moredeet:hover {
    height: 105%;
    width: 105%
}
 .moredetail {
    width: 100%;
    height: 18%;
    background-color: darkgray;
    margin-top: 48.5%;
 }

 .searchForm {
     margin-top: -20pc
 }

 .rss {
    position: fixed;
    float: right;
    bottom: 1pc;
    left: 80pc;
    background-color: rgb(255, 176, 30);
    box-shadow: rgba(0, 0, 0, 0.4) 3px 8px 22px 4px;
 }

 
 .body{
     width: 90%;
        margin: 153px 5% 30px 5%;
 }
 @media screen and (max-width: 350px){
     .trending{
         display: grid;
         height: auto;
        }
        
        .searchForm {
            margin-top: 5pc
        }

    .body {
        width: 90%;
        margin: 59% 5% 0 5%;
    }

    .licon {
        padding-top: 10px;
        margin-left: 8pc;
        margin: 1px .25rem 0 12.6pc;
        width: 1.5em;
        height: 2.4em;
    }
        
.rss {
    bottom: 0.5pc;
    left: 16.5pc;
}

    .celeb {
        height: auto
    }

    .celeb > div {
        width: 48%;
        height: 190px;    
    }


    .trend > div {
        width: 49%;
        height: 190px
    }

    .trend> div:hover {
    width: 50%;
    height: 200px;
    }

    .homeTrendingMovies1{
        height: 250px;
        width: 100%;
    }

    .homeTrendingMovies2{
        margin-top: 5%;
        justify-self: center;
        width: 80%;
        height: 200px;
    }
    .brandNew {
        width: 100%;
        height: 200px;
        margin: 30px 0 0 0;
    }

    .celebfocus{
        width: 100%;
        height: 200px;
        border: none;
    }

    .twindiv{
        height: 48%;
        width: 48%;
        margin: 2% 2% 0 0;
    }

/* .trend > div {
    /* height: 46%; */
    /* width: 46% */
/* } */

    .trend >div:first-child {
        width: 100%;
        height: 190px
    }
    .celebfocus > div {
        width: 10%;
        height: 200px;
        margin-top: 0;
    }
    .trending > div {
        width: 100%;
        height: 250px;
    }
}