.chip {
    display: inline-block;
    padding: 0 0px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.avatar {
    border-radius: 50%;
}
