.footer {
    height: auto;
    background-color: rgb(37, 33, 33);
    width: 100%;
    bottom:0;
    width:100%;
    padding-top: 30px;
    padding-right: 45px;
    box-sizing: border-box;
    bottom:0; 
    padding-left: 45px;
    /* color: whitesmoke; */
    overflow: auto;
}

/* .res-row {
    display: flex;
    flex-wrap: wrap;
    display: -ms-flexbox; /* IE10 */
    /* display: flex; */
    /* -ms-flex-wrap: wrap; IE10 */
    /* flex-wrap: wrap; */
    /* padding: 0 4px; */
/* } */

/* Create four equal columns that sits next to each other */
/* .res-column2 { */
    /* -ms-flex: 25%; /* IE10 */
    /* flex: 25%;
    max-width: 25%;
    /* padding: 0 4px; */
/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
    .res-column2 {
        width: 100%
    }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .res-column2 {
        max-width: 100%;
    }
} */


.footer p {
    color: #d4d2b1
}

.equal {
    width: 50%;
    padding-top: 6px
}

.subscribe {
    border-radius: 4px;
    width: 50%;
    padding: 5px;
    margin-right: 4px;
    height: 30px;
    margin-top: 6.5px;
    font-weight: bold;
    /* background: url('/favicon.ico') no-repeat 10px 5px;
    background-size: 10px 10px; */
    padding-right: 24px
}

ul {
    list-style-type: none;
}

.big-box {
    align-content: center
}

.box {
    list-style-type: none;
    display: list-item;
    float: left;
}

.box1 {
    text-align: left;
    width: 25%;
    border-right: 1px solid rgb(67, 65, 63);
    padding: 6px 20px;
    float: left;
}

.box2 {
    text-align: left;
    float: left;
    padding: 6px 20px;
    width: 25%;
    border-right: 1px solid rgb(67, 65, 63);
}   	

.sign {
    text-align: center;
    margin-top: 10px;
    /* float: left */
}


.contact {
    float: right;
    margin-top: -82px;
    line-height: 17px;
    text-align: right;
}

.dem {
    text-align: center
}

.dem > h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: -0.5rem;
    font-size: 2.5rem;
}


.no-box {
    border: none;
    margin-top: -3px;
}

.hidden {
    margin-top: -3px;
}

.fa {
    margin: 0rem
}


@media screen and (max-width: 770px){
    .box1 {
        width: 50%;;
        margin-bottom: 10px;
        padding: 10px;
        border: none;
    }

    .box2 {
        width: 50%;
        margin-bottom: 33px;
        border: none;
        padding: 10px;
    }

    
}

@media screen and (max-width: 500px){
    .box1 {
        padding: 0px;
        width: 100%;
        float: left;
        border: none;
        margin-bottom: 20px;
        margin: auto
    }

    .dem {
        width: 100%;
        border: none;
        float: right;
        /* position: absolute; */

    }

    .box {
        padding: 0px;
        /* float: left; */
        width: 100%;
        border: none;
        /* margin-top: 40px; */
        margin-bottom: 20px;
    }

    .box2 {
        padding: 0;
        width: 100%;
        margin-top: 20px
    }

    .res{
        margin: auto
    }

    .head{
        height: 50px;
        line-height: 2.5em 
    }
    .general {
        padding-top: 50px 
    }
    .footer{
        padding:30px
    }
}
