.head {
    height: 64px;
    background-color: rgba(0,0,0,0.78);
    line-height: 2.5em;
    box-shadow: 0px 8px 6px rgrba(0,0,0, 0.2);
    width: 100%;
    z-index: 1990;
    position: fixed
}

.smoke {
    color: #d4d2b1
}

.smoke:hover {
    color: white
}

.smoke:active{
    color: gold;
}

.avatar {
    height: 25px;
    width: 25px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
}
