@media screen and (max-width: 770px){
    .navbar-collapse {
        background-color: rgba(0,0,0,0.9);
        margin-top: -1%;
    }

    .trigger {
        padding: 0;
        float: left ;
        margin-top: 21px;
        margin-left: -2px;
        color: black;
    }

    .movroot{
        margin-top: -180px
    }
}

.trigger{
    color: black
}


.trigger {
    font-weight: bolder;
    color: black
}

@media screen and (max-width: 350px){
    .headerlogo{
        visibility: hidden;
    }

    .headerlogo1 {
        visibility: inherit;
    }

    .trigger{
        margin-left: -2px;
        padding: 0px;
        color: black
    }
}

.headerlogo {
    width: 50px;
    margin-left: 40px;
    visibility: inherit;
}

.headerlogo1 {
    width: 50px;
    margin-left: 40px;
    visibility: hidden;
}

.headerlogo:hover {
    visibility: hidden;
}

.headerlogo1:hover {
    visibility: inherit;
}

.navbar-nav {
    float: right;
    margin-right: 30px
}

.head {
    height: 64px;
    background-color: rgba(0,0,0,0.78);
    line-height: 3.2em;
    box-shadow: 0px 8px 6px rgrba(0,0,0, 0.2);
    width: 100%;
    z-index: 1990;
    position: fixed
}

.smoke {
    color: #d4d2b1
}

.trigger:hover {
    color: black
}

.smoke:visited{
    color: #fae1b4;
}

.avatar {
    height: 40px;
    width: 40px;
    background-color: #ffb01e;
    border-radius: 50%;
    display: inline-block;
}
