@media screen and (max-width: 770px){
    .navbar-collapse {
        background-color: rgba(0,0,0,0.7);
    }

    .trigger {
        padding: 35px 0 0 0;
        float: left 
    }

    .movroot{
        margin-top: -180px
    }
}


.navbar-nav {
    float: right;
    margin-right: 30px
}

.head {
    height: 64px;
    background-color: rgba(0,0,0,0.78);
    line-height: 3.2em;
    box-shadow: 0px 8px 6px rgrba(0,0,0, 0.2);
    width: 100%;
    z-index: 1990;
    position: fixed
}

.smoke {
    color: #d4d2b1
}

.smoke:hover {
    color: white
}

.smoke:active{
    color: gold;
}

.avatar {
    height: 25px;
    width: 25px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
}
