.movroot {
    width: 70%;
    margin: auto;
    margin-top: 2px
}

.movhide {
    overflow-x: hidden;
    width: 90%;
    margin: 30px 5%;
}

.search {
    float: right;
    width: 50%;
}

.active {
    background-color: unset;
}

.movietab {
    margin-top: -52px;
    position: relative
}

@media screen and (max-width: 770px) {
    .moivetab{
        margin-top: -200px
    }
}

@media screen and (max-width: 350px){
    .movroot {
        width: 97%;
    }

    .movietab {
        /* margin-top: -75px; */
        margin-top: 0px;
    }
}