.movroot {
    width: 70%;
    margin: auto;
    margin-top: 2px
}

.movhide {
    overflow-x: hidden;
    width: 100%;
    margin: auto auto auto auto;
}

.search {
    float: right;
    width: 50%;
}

@media screen and (max-width: 770px) {
    .moivetab{
        margin-top: -200px
    }
}

@media screen and (max-width: 500px){
    .movroot {
        width: 97%;
    }

    .movietab {
        margin-top: -178px;
    }
}