.modalClose {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    margin-left: 10px;
}
.header {
    margin: auto;
    margin-left: 10px
}

.modal-content-center {
    padding-right: 40%;
    margin-top: -15px;
    float: right
}

.trigger{
    color: black;
    margin-top: 14px;
    margin-left: 13px;
    margin-right: 10px;
    background-color: #ffb01e;
}

.load {
    fill: #ffb01e;
    /* height: 90px; */
    width: 11%;
    position: fixed;
    height: 23%;
    bottom: 31%;
    left: 42%;
}


.modal-content {
    text-align: center;
    margin: auto;
    width: 351px;
    margin-top: 1rem;
    border: none;
}


.modal_half {
    margin-top: 20px;
    line-height: 30px;
    width: 50%;
    height: 96%;
    border-right: 2px solid grey;
    padding-top: 10px;
    float: left;
    padding-left: 20px 
}

.modal_half2 {
    width: 50%;
    height: 70%;
    /* padding-top: 10px; */
    /* float: left; */
    padding: 20px 20px 0 20px;
    text-align: center
}

.content {
    height: 240px
}

.modal_half > input {
    margin-bottom: 20px
}

.socialLink {
    padding-left: 40px
}

.modal-deet {
    padding-bottom: 30px;    
    width: 100%;
    padding-top: 7px;
}

.myInput{
    margin-bottom: 20px;
    margin: auto;
    width: 351px;
    
}

.mass {
    height: 40px;
    width: 351px;
    margin-top: 10px;
    border-radius: 8px
}

.modal {
    margin: auto;
    height: 42%;
    margin-top: auto;
    padding-left: 2%;
    padding-right: 2%;
    width: 40%;
}


@media screen and (max-width:350px){
    .modal-content{
        padding: 0;
        margin: 0;
        width: 100%
    }

    .mass {
        width: 100%;
        font-size: 12px;
        height: 30px;
    }

    .myInput{
        width: 100%;
        height: 30px
    }

    .modal-deet{
        padding-bottom: 20px;
        font-size: 12px
    }

    .styles_modal__gNwvD {
        width: 85%
    }

    .load {
        width: 53%;
        
    }
}

.carousel-control-next, .carousel-control-prev {
    position: unset;
    display: none
}