.general {
    padding-top: 64px;
    overflow: hidden;
}

p {
    margin: 0
}

@media screen and (max-width: 500px){
    .general {
        padding-top: 50px 
    }
}

.searchText{
    width: 100%;
    padding-right: 7px;
}