.general {
    padding-top: 63px;
    overflow: hidden;
}

p {
    margin: 0
}

@media screen and (max-width: 350px){
    .general {
        padding-top: 50px 
    }
}

.searchText{
    width: 100%;
    padding-right: 7px;
}

* {
    font-family: 'segoe ui';
}


.trigger {
    font-weight: bolder;
}