.searchie {
    width: 39%;
    margin-left: 0%;
    position: absolute;
    margin-top: 0%;
    -webkit-box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.7);
    box-shadow: 0px 4px 47px 3px rgba(0,0,0,0.7);
    border-radius: 8px;
    padding: 15px;
    font-weight: bolder;
    /* opacity: 0.6; */
}

.background{
    width: 100%
    
}

.celebDescription{
    height: 35pc;
}

.celebPhoto {
    width: 50%;
    height: 560px;
    float: left;
}

.biodescrip{
    height: auto;
}
 .overlay {
    background-color: rgba(0,0,0,0.85);
    padding: 155px 116px 285px 116px;
    margin: -680px 0 58px 0;
    position: relative;
    color: whitesmoke;
    height: auto;
    width: 100%;
 }

 .watcht {
    color: black;
    background-color: #ffb01e;
    border-radius: 40px;
    height: 40px;
    margin-top: -9px;
    width: 164px;
    font-weight: bolder;
    border: 1px solid darkgray;
}

.celebDescription{
    width: 50%;
}

 .carousel-item > img {
    height: 744px
}

.licon {
    display: inline-block;
    background-color: #ffb01e;
    opacity: 1;
    border-radius: 0px 8px 9px 0px;
    padding-top: 20px;

    /* margin-left: 30pc; */
    margin: 1px .25rem 0 27.6pc;
    width: 6.18em;
    height: 3.5em;
    position: relative;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    /* font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


@media screen and (max-width: 1300px){
    .licon {
        margin: 1px 0.25rem 0 28pc
    }

    .biodescrip{
        height: 290px;
    }
}
@media screen and (max-width: 1170px){
    .licon {
        margin: 1px 0.25rem 0 23.3pc
    }

    .trend > div, .celeb > div {
        height: 235px
    }
}

@media screen and (max-width: 900px){
    .trend > div, .celeb >div {
        height: 180px
    }

    .trend > div:hover , .celeb> div:hover {
        height: 185px;
        /* width:  */
    }

    .celeb > div {
        height: 180px;
    }

    .trend > div:first-child {
        width: 39%;
        height: 180px;
    }

    .sliderContainer, .carousel-inner, .slide, .carousel-item > img {
        height: auto
    }

    .searchLabel {
        font-size: 1.1pc;
    }

    .licon {
        margin: 1px 0.25rem 0 16.2pc;
        visibility: hidden
    }
}
@media screen and (max-width: 700px){

    .trend> div:hover, .celeb > div:hover {
        height: 140px
    }


    .navbar-light .navbar-toggler {
        /* color: rgba(0, 0, 0, 0.5); */
        border-color: gold;
    }

    .celebDescription{
        width: 100%
    }

    .rss {
        left: 29pc
    }
    .searchLabel {
        font-size: 1pc;
    }
    .trend >div:first-child {
        /* width: 100%; */
        height: 130px;
    }

        .searchLabel {
            font-size: 1pc
        }
    .searchForm {
        margin-top: 17pc
    }

    .trend> div {
        height: 130px
    }

    .celeb > div {
        height: 130px
    }
    
    .celebPhoto {
        width: 100%;
        height: auto;
        float: left;
    }

    .licon {
        margin: 1px 0.25rem 0 12.2pc
    }

    .body {
        margin: 414px 5% 30px 5%;
    }

    .carousel-item > img {
        height: auto;
        
    }

    .slide {
        height: 0px
    }
    
    .trend >div:first-child {
    width: 39%;
    height: 160px;
    }

    .trend > div {
        height: 160px
    }

    .sliderContainer {
        height: 0px
    }
.licon {
    visibility: hidden;
}

}

@media screen and (max-width: 500px){

    .trend> div:hover, .celeb > div:hover {
        height: 215px;
        width: 50%
    }

    .navbar-light .navbar-toggler {
        /* color: rgba(0, 0, 0, 0.5); */
        border-color: gold;
    }
    .myInput {
        /* margin-bottom: 20px;
        margin: auto; */
        width: 100%;
    }

    .thelay {
        background-color: rgba(0,0,0,0.8);
        padding: 155px 116px 285px 116px;
        margin: -679px 0 46px 0;
    }


    .styles_modal__gNwvD {
        width: 85%;
    }

    .mass {
        width: 100%;
        font-size: 12px;
        height: 30px;
    }

    .modal-content {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .trend> div, .celeb > div {
        height: 215px;
        width: 49%;
    }

    .trend >div:first-child {
        width: 100%;
        height: 175px;
    }
    
    .box1, .dem, .box2, .box {
        width: 100%;
    }

    .celebPhoto {
        width: 100%;
        height: auto;
        float: left;
    }

    .celeb_achievements {
        margin-top: 0px
    }
    
    .background {
        width: 100%;
    }

    .searchLabel {
        font-size: 1pc;
    }
    
    .searchForm{
        margin-top: -11pc
    }
    
    .sliderContainer, .carousel-inner, .slide, .carousel-item > img {
        height: auto
    }
    
    .body {
        margin: 30px 5% 30px 5%;
    }
    
    .searchie{
        height: 30px;
    }
    
    .rss {
        left: 23pc;
    }
    
    .licon {
        display: none;
        visibility: hidden;
        margin: 1px 0.25rem 0 8.2pc     
    }
    
    .Tvshows{
        padding-left: 0px;
    }

    .celebDescription{
        width: 100%
    }
}


@media screen and (max-width: 350px){

    .celebPhoto {
        width: 100%;
        height: auto;
        float: left;
    }

    .navbar-light .navbar-toggler {
        /* color: rgba(0, 0, 0, 0.5); */
        border-color: gold;
    }
    
    .Tvshows{
        padding-left: 0px
    }

    .celeb_achievements{
        margin-top: 0px;
    }
    .background{
        width: 100%
    }
    .rss {
        left: 17pc
    }
    
    .celebDescription {
        margin-top: -4px;
        width: 100%;
    }
    
    .searchForm {
        margin-top: -11pc
        }
    
        .trend >div:first-child {
            width: 100%;
            height: 154px;
        }
    
        .trend> div, .celeb > div {
            height: 170px
        }
    
        .trend> div:hover, .celeb > div:hover {
            height: 172px;
            width: inherit
        }
    
        .overlay{
            /* padding: 292px 116px 129px 36px;
            margin: -606px 0 78px 0; */
            
            padding: 315px 116px 129px 36px;
            margin: -510px 0 -110px 0;
            
        }
    
        .body {
            margin-top: 40px
        }
        .h1:first-child{
            margin-top: unset
        }
    
        .overlay > h2 {
            font-size: 1em;
        }
    
        .watcht {
            width: 139px;
            height: 35px;
        }
        .overlay > h1 {
            font-size: 1.3em;
            margin-bottom: -6px;
            margin-top: 0px;
        }
        .carousel-item > img {
            height: 252px
        }
    
        .searchie {
            margin-top: 0%;
            /* opacity: 0.7%; */
            margin-left: 0%;
            height: 35px;
            /* margin-left: 0% */
        }
    
        .headerlogo{
            margin-left: 10px;
        }
    
        .trigger {
            padding: 11px 0 0 0px;
        }
    
        .head {
            height: 50px
        }
        .body {
            margin: 40px 5% 30px 5%;
        }
    
        .searchLabel {
            font-size: 0.7pc;
        }
    
        .sliderContainer, .carousel-inner, .slide {
            height: auto
        }
    
        .biodescrip{
            height: auto
        }

        .Tvshows {
            float: right;
            width: 50%;
            /* padding-left: 20px; */
        }
    }