.imageSlide {
    height: 550px
}

/* .movietab {
    position: relative;
    margin-top: -50px
} */

/* @media screen and (min-width: 750px){
    .bighead{
        height: 473px
    }
} */

@media screen and (max-width: 500px){
    .movietab{
    margin-top: -465px;
    }

    .searchText {
        width: 100%
    }
}
